<table class="container table table-striped">
    <thead>
      <th scope="col" *ngFor="let header of columnHeaders">
        {{header}}
        <i (click)="sort(header)" class="fa fa-fw fa-sort"></i>
        <i (click)="reverse(header)"class="fa fa-undo"></i>
      </th>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.department}}</td>
        <td>{{employee.address}}</td>
        <td *ngIf="canDelete">
          <button class="btn btn-primary" (click)="deleteEmployee(employee.id)">Delete</button>
        </td>
      </tr>    
  </table>
  
  <button class="btn btn-primary" (click)="toggleCanDelete()">Toggle Delete Option</button>